<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <h1> This is the home page </h1>
  
  <p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  At sit numquam natus amet. Facilis voluptate aspernatur 
  alias eius sapiente consequuntur recusandae repellat doloremque, odio. 
  Saepe ex, velit illo voluptatum sapiente.
  </p>
  
  <%=  link_to 'About', welcome_about_path %> <!-- the = is to show your ruby code --> 
</body>
</html>
